<header class="header ff-inter">
  <div class="logo">
    <div class="links">
      <a routerLink="/list-idea" routerLinkActive="active">
        Meus Pensamentos
      </a>

      <a routerLink="/create-idea" routerLinkActive="active">
        Criar um Novo Pensamento</a
      >
    </div>
    <img
      src="../../../assets/images/logo-memoteca.png"
      alt="logo mibess card"
    />
    <p>
      Guarde trechos de músicas, citações de livros, pensamentos e suas melhores
      ideias
    </p>
  </div>

  <img
    class="image"
    src="../../../assets/images/computer-header.png"
    alt="computer header"
  />
</header>
