<div class="new-header_background">
  <header class="new-header ff-inter">
    <div class="new-header_pensamentos">
      <h4 style="font-weight: 300">No que eu estive pensando esses dias?</h4>
      <h1>Bem vindo aos meus pensamentos diários!</h1>
      <h3
        style="
          font-weight: 600;
          color: blueviolet;
          text-shadow: 2px 2px 5px #b1b1b1;
        "
      >
        "Libere seus pensamentos para o mundo e veja o que acontece. Eles podem
        fazer a diferença!"
      </h3>
    </div>
    <img
      class="new-header_image"
      src="../../../assets/images/mibess-header.png"
      alt="mibess header"
    />
  </header>
</div>
<header class="header ff-inter" style="display: none">
  <div class="logo">
    <div class="links">
      <a routerLink="/list-idea" routerLinkActive="active">
        Meus Pensamentos
      </a>

      <a routerLink="/create-idea" routerLinkActive="active">
        Criar um Novo Pensamento</a
      >
    </div>
    <img
      src="../../../assets/images/logo-memoteca.png"
      alt="logo mibess card"
    />
    <p>
      Guarde trechos de músicas, citações de livros, pensamentos e suas melhores
      ideias
    </p>
  </div>

  <img
    class="image"
    src="../../../assets/images/computer-header.png"
    alt="computer header"
  />
</header>
