<div class="card {{ card.model }} ff-roboto-mono" [ngClass]="cardWidth()">
  <img src="../../../../assets/images/{{ card.model }}.png" alt="Model Image" />

  <p class="content">{{ card.content }}</p>
  <p class="author" style="font-weight: bold">{{ card.author }}</p>

  <div class="actions">
    <button class="button-update" routerLink="/edit-idea/{{ card.code }}">
      <lucide-icon name="file-edit"></lucide-icon>
    </button>

    <button class="button-remove" routerLink="/delete-idea/{{ card.code }}">
      <lucide-icon name="trash-2" style="color: red"></lucide-icon>
    </button>
  </div>
</div>
