.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.button {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

.create-idea {
  padding: 2rem 0;
}

.create-idea form {
  background: rgb(203, 175, 230);

  border: none;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 2rem;
}

.create-idea form label {
  color: #154580;
  font-weight: bold;
  margin: 0 0 1rem;
}

.create-idea form .input {
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
  font-size: medium;
}

.create-idea form .textarea {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
  font-size: medium;
  font-weight: bold;
}

.container-radio {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.models {
  display: flex;
  gap: 2.5rem;
  border: 1px solid red;
}

.model {
  background-color: #f8f9fe;
  padding: 1rem;
  max-width: 250px;
  margin: 1rem 0 2rem;
  border-radius: 30px;
}

.model .content {
  margin: 1rem auto;
  word-wrap: break-word;
}

.model .author {
  word-wrap: break-word;
}

.radio {
  margin: 0;
}

.model1 {
  box-shadow: 8px 8px 0px #154580;
}

.model2 {
  box-shadow: 8px 8px 0px #6bd1ff;
}

.model3 {
  box-shadow: 8px 8px 0px #84eec1;
}

input[type="radio"] {
  display: none;
}

.radio-model label {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.custom-radio {
  border: 1px solid #154580;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
}

.custom-radio,
span {
  transition: 0.5s ease;
  color: #154580;
}

.custom-radio span {
  content: "";
  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 50%;
}

input[type="radio"]:checked + .custom-radio {
  border-color: #154580;
}

input[type="radio"]:checked + .custom-radio span {
  background: #154580;
}
